<div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <h1 class="mt-5 mb-4">Editing Book</h1>
        <div class="text-danger">
        <% if @book.errors.any? %>
          <%= @book.errors.count %>errors prohibited this obj from being saved:
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        </div>


        <%= form_with model: @book, method: :patch, local:true do |f| %>
        <div class="form-group">
        <label>Title</label>
        <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
        <label>Opinion</label>
        <%= f.text_area :body, class: "form-control" %>
        </div>

        <%= f.submit 'Update Book', class: "btn btn-success mb-2"  %>
        <% end %>

        <span>
        <%=link_to 'Show', book_path %>
        </span>
          |
        <span>
        <%=link_to 'Back', books_path %>
        </span>
      <div>
    </div>
</div>
