<!--部分テンプレート-->
<%= render 'book', new_book: @new_book, user: @user %>

<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td><%= image_tag @book.user.get_profile_image('50x50') %></td>
      <td><%= link_to @book.user.name, user_path(@book.user) %></td>
      <td><%= link_to @book.title, books_path %></td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
      <td><%= link_to 'Edit', edit_book_path(@book.id) %></td>
      <td><%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
      <% end %>
    </tr>
  </tbody>
</table>